.env
node_modules
dist
node_modules/
dist/
.env
.env.local
.DS_Store

covo/node_modules/
covo/dist/
covo/.env
covo/.env.local

covo-feed/node_modules/
covo-feed/dist/
covo-feed/.env
covo-feed/.env.local

*.log
server.out.log